.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.info{
    text-align: center;
}
.user{
    margin-left: auto;
    margin-top: auto;
    display: inline-block;
    text-align: left;
    position: relative;
}
.userHeader{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 5px;
    display: inline-block;
    text-align: left;
}
.userInfoBox{
    float: left;
    padding: 5px;
    width: 286px;
    margin: 2px;
    background-color: #404040;
}
.userIdInfoBox{
    float: left;
    padding: 5px;
    width: 50px;
    margin: 2px;
    background-color: #404040;
}
.userAdminInfoBox{
    float: left;
    padding: 5px;
    width: 100px;
    margin: 2px;
    background-color: #404040;
}
.delete{    
    position: absolute;
    right: -36px;
    top: 2px;
    height: 28px;
}
.delete button{
    position: relative;
    top: 4px;
    left: 5px;
    padding: 3px;
    background-color: red;
    border-radius: 5px;
    display: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
}
.user:hover .delete button{
    display: block;
}