<div class="container">
    <h1 class="info">Użytkownicy</h1>
    <div class="userHeader">
        <div class="userInfoBox">ID</div>
        <div class="userInfoBox">NAZWA UŻYTKOWNIKA</div>
        <div class="userInfoBox">CZY ADMIN</div>
        <div style="clear: both;"></div>
    </div>
    <div class="user" *ngFor="let user of users">
        <div class="userInfoBox">{{user.id}}</div>
        <div class="userInfoBox">{{user.username}}</div>
        <div class="userInfoBox">{{user.admin==true?'Tak':'Nie'}}</div>
        <div style="clear: both;"></div>
    </div>
</div>
