<div class="container">

  <div class="userbar" *ngIf="isLoggedIn()">
    <p>Użytkownik: <a class="username" routerLink="/userDetails">{{fullUserName}}</a></p>
    <button id="logout" class="mat-raised-button mat-button-base mat-warn" (click)="logout()" routerLink="/home" >Wyloguj</button>
  </div>

  <div class="banner">
    <div class="text middle" data-text="Koło programistów">
      NWTA Project
    </div>
  </div>

  <div class="navbar">
    <button mat-button routerLink="/home">Home</button>

    <button mat-button [matMenuTriggerFor]="menu1">Książki</button>
    <mat-menu #menu1="matMenu" class="panel">
      <button mat-menu-item routerLink="/books">Lista</button>
      <button mat-menu-item routerLink="/addBook">Dodaj książkę</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu2" *ngIf="admin==true">Panel administratora</button>
    <mat-menu #menu2="matMenu" class="panel">
      <button mat-menu-item routerLink="/users">Użytkownicy</button>
    </mat-menu>
  </div>

  <router-outlet></router-outlet>

  <div class="footer">
    <p>Autorzy: Paweł Piotrowski, Rafał Łyczek</p>
  </div>
</div>