.container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.hello{
    text-align: center;
}
.mat-myclass{
    background-color: rgb(28, 184, 28);
    color: white;
}
.linkButton{
    margin-bottom: 10px;
}