.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.info{
    text-align: center;
}
.book{
    margin-left: auto;
    margin-top: auto;
}
.bookHeader{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 5px;
}
.bookInfoBox{
    float: left;
    padding: 5px;
    width: 286px;
    margin: 2px;
    background-color: #404040;
}