<div class="container">

    <h1 class="info">Panel użytkownika</h1>

    <div class="userDetails">
        <p>Nazwa użytkownika: {{username}}</p>
        <p>Imię: {{name}}</p>
        <p>Nazwisko: {{surname}}</p>
    </div>

    <div class="changeForm">
        <form (ngSubmit)="onSubmit()">

            <h2>Zmiana danych</h2>
        
            <div class="inputs">
                <label for="name">Nowe imię</label>
                <input type="text" name="name" [(ngModel)]="user.name"> 
            </div>
            
            <div class="inputs">
                <label for="surname">Nowe nazwisko</label>
                <input type="text" name="surname" [(ngModel)]="user.surname">
            </div>

            <div class="inputs">
                <label for="password">Potwierdź hasłem</label>
                <input type="password" name="password" [(ngModel)]="confirmPass">
            </div>
        
            <button type="submit" id="submit" mat-raised-button color="primary">Zapisz</button>
        
        </form>
    </div>

    <div class="changeForm">
        <form (ngSubmit)="onSubmitPass()">

            <h2>Zmiana hasła</h2>
        
            <div class="inputs">
                <label for="passwordOld">Stare hasło</label>
                <input type="password" name="passwordOld" [(ngModel)]="confirmPass2"> 
            </div>

            <div class="inputs">
                <label for="passwordNew">Nowe hasło</label>
                <input type="password" name="passwordNew" [(ngModel)]="user.password" ngValue=""> 
            </div>

            <div class="inputs">
                <label for="passwordNew2">Powtórz hasło</label>
                <input type="password" name="passwordNew2" [(ngModel)]="repeatedPass"> 
            </div>
        
            <button type="submit" id="passsubmit" mat-raised-button color="primary">Zapisz</button>
        
        </form>
    </div>

</div>